/nocomment-workspace.code-workspace
nocomment-frontend/node_modules/*
nocomment-backend/node_modules/*
nocomment-backend/.env
nocomment-frontend/.prettierrc
nocomment-frontend/yarn-error.log
nocomment.code-workspace
nocomment-backend/src/public/*
nocomment-frontend/debug.log
nocomment-backend/log.log.*
nocomment-backend/yarn.lock
nocomment-backend/yarn-error.log
nocomment-backend/config/*
nocomment-backend/yarn-error.log
nocomment-backend/yarn.lock
nocomment-backend/yarn-error.log
nocomment-frontend/yarn.lock
nocomment-backend/dist/*
