/nocomment-workspace.code-workspace
nocomment-frontend/node_modules/*
nocomment-backend/node_modules/*
nocomment-backend/.env
nocomment-frontend/.prettierrc
nocomment-frontend/yarn-error.log
nocomment.code-workspace
nocomment-backend/src/public/*
nocomment-frontend/debug.log
